extends layout.pug

block content
  .jumbotron
    h1 Edit a tutoring session
    form.form(action="/tutor_sessions/" + session.id + "/edit" method="POST")
      include includes/tutor_session_form
      .card-buttons
        button.btn.btn-primary(type="submit") Save
        a.btn.btn-danger(href=session.url) Cancel
