html
  head
    -const title = "Error";
    include includes/head
  body: .container
    h1.error-title.mt-4 Oops! An error has occurred
    h4.font-weight-normal.error-subtitle.mt-2= err.message
    h6.mt-5 Details
      .badge.badge-secondary.ml-2= err.httpStatus
    pre.error-details= err.toString()
    .error-buttons
      a.btn.btn-primary(href="/") Go Home

