extends layout.pug

block content
  .jumbotron
    h1 Welcome to TutorMatch
    if user
      span You are a #{user.roleName}
    else
      span You are not logged in. Please Login to access more pages
