extends layout.pug

block content
  .jumbotron
    h1 Post a new tutoring session
    form.form(action="/tutor_sessions" method="POST")
      - const new_session = true;
      include includes/tutor_session_form
      button.btn.btn-success(type="submit") Create
