extends layout.pug

block content
    h1 Edit user profile
    .card
        .card-body
            h3.card-title= theUser.displayName
            form.form.my-md-0(action=theUser.url + "/edit", method='POST')
                .form-group
                    label(for="bio") Description
                    textarea.form-control(id="bio", name="bio", cols="50", rows="5", maxlength="250")= theUser.biography
                button.btn.btn-primary(type="submit") Submit
            