extends layout.pug

block content
  .card
    .card-body
      h1.card-title= theUser.displayName
      if (theUser)
        .card-subtitle.mb-2.text-muted= theUser.roleName
        p.card-text= theUser.biography || "No description provided"
        if(user && user.id == theUser.id || user.role == UserRole.Admin)
          a.btn.btn-primary(href='/profile/'+theUser.id+'/edit') Edit
