extends layout.pug

block content
  -
    let heading;
    if (theUser)
      heading = theUser.displayName
    else
      heading = "No user found"
  .card
    .card-body
      h1.card-title= heading
      if (theUser)
        .card-subtitle.mb-2.text-muted #{theUser.roleName}
        br
        p= theUser.biography || "No description provided"
        if(user && user.id == theUser.id)
          a.btn.btn-primary(href='/profile/'+theUser.id+'/edit') Edit
