extends layout.pug

block content
  -
    let heading;
    if (theUser)
      heading = theUser.displayName
    else
      heading = "No user found"
  .jumbotron
    h2= heading
    if (theUser)
      p #{theUser.roleName}
      br
      -
        let bio;
        if (theUser.biography)
          bio = theUser.biography
        else
          bio = "No description provided."
      p= bio
  if(user)
    if(user.id == theUser.id)
      a.btn.btn-primary(href='#') Edit
