extends layout.pug

block content
  -
    const timeRangeHeadings = {
        0: "All sessions",
        1: "This week's sessions",
        2: "Today's sessions",
    };
    const heading = timeRangeHeadings[timeRange] || timeRangeHeadings[3];
    let tr = 0;
  h1 #{heading}
    small.h4
      while tr < 3
        if tr !== timeRange
          a.ml-3(href="?timeRange=" + tr)= timeRangeHeadings[tr]
        - tr++
  .row
   each session in sessions
    .col-12.col-md-6.col-lg-4.pb-3: include includes/tutor_session_card
